
#
# Rest API configuration variables
#

# Manager API
MANAGER_API_URL = "http://localhost:1337";

# GKHUB API
GKHUB_API_URL = "https://localhost:5000/api";


#
# Authentication configuration variables
#

# Auth Connect URL
AUTH_PROVIDER_CONNECT_URL="http://localhost:1337/api/connect/gkhub"

# Auth Callback URL
AUTH_PROVIDER_CALLBACK_URL="http://localhost:1337/api/auth/gkhub/callback"

#
#
#

# Authentication roles variables
PROVIDER_ACCESS_ROLE="geo_secretariat"
